%h1 
	= @project.title
%p
	= @project.description
.row
	.col-md-6.col-md-offset-3
		.row
			.col-md-6
				#plan-list.list-group
					- @project.plans.each do |plan|
						= link_to plan.title, plan_path(plan.id), remote: true, class: 'list-group-item'
			.col-md-6
				#task-list.list-group