#list-headings .list-heading {
	font-size: 1.4em;
	line-height: 1.6em;
	color: #999;
}

#list-contents .list-group-item-heading {
	margin-bottom: 0;
}

#list-contents .list-group-item-text {
	display: inline-block;
	font-size: 0.8em;
	line-height: 0.8em;
	text-decoration: underline;
}

.create-href {
	line-height: 2.5em;
	font-size: 0.8em;
}